


html {
	background: url(image_path('imagine.jpg')) no-repeat top center;
	margin: 0;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
	background-size: cover;
}

.bg-container {
	background: url(image_path('imagine.jpg')) no-repeat top center;
	margin: 0;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	position: relative;
	z-index: 0;
}

.user-form {
	width: 25%;
	background-color: white;
	position: absolute;
	text-align: center;
	top: 25%;
	left: 37.5%;
	border-radius: 20px;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: white;
}

.new_user {
	margin: 0 auto 0 auto;
}

.button {
	width: 100px;
	height: 38px;
	font-size: 12px;
	border-radius: 100px;
	padding: 10px;
	background: #00ccff;
	border: none;
	color: white;
	font-weight: 400;
}

input {
	outline: none;
	border-radius: 10px;
	padding: 5px;
	border: 1px solid black;
	font-family: 'Open Sans', arial, sans-serif;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 200px;
}

input:focus {
	box-shadow: 0px 0px 3px #51a7e8;
	-moz-box-shadow: 0px 0px 3px #51a7e8;
	-webkit-box-shadow: 0px 0px 3px #51a7e8;
	border: 1px solid #51a7e8;
}

.align-c {
	margin-left: auto;
	margin-right: auto;
}



div label {
	text-align: center;
}