// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height: 200%!important;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	width: 100%;
	height: 100%;
	background: white;
	margin: 0 auto 0 auto;
	margin-top: -70px;
}

h1.logo {
	font-weight: 300;
	font-size: 55px;
	margin: 0 0 0 50px;
	color: white;
	float: left;
}

h1.logo span {
	font-weight: 600;
}

.header ul {
	list-style-type:none;
	margin:0;
	padding:0;
	float: right;
	color: white!important;
	margin: 0 10px 0 0;
	font-weight: 800;

}

.header ul li {
	display: inline-block;
	padding: 0 15px 0 15px
}
 .header ul li:hover {
 	background-color: #73e4ff;
 }

 .header ul li a {
 	display: inline-block;
	padding: 0 15px 0 15px;
	color: white;
 }

 .selected {
 	background-color: #73e4ff;
 }

 .black {
 	color: black!important;
 }

.header {
	width: 100%;
	height: 70px;
	line-height: 70px;
	background: #00CCFF;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	position: fixed;
	z-index: 2;
	top:0px;
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 70px 0 0 0;
	height: 100%;
}

.imagine {
	height: 50%;
	position: relative;
	z-index: 0;
	background: url(image_path('imagine.jpg')) no-repeat top center;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
	background-size: cover;
	color: white;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
}

#welcome {
	font-size: 50px;
	margin: 0 0 0 50px;
	position: relative;
	z-index: 1;
	top: 25%;
	height: 25%;
	float: left;
}

#welcome i {
	color: #00CCFF;
}

.mini-nav {
	position: relative;
	z-index: 1;
	top: 25%;
	margin: 0 150px 0 0;
	height: 300px;
	width: 300px;
	line-height: 300px;
	text-align: center;
	float: right;
	font-weight: 800;
	font-size: 30px;
	color: black!important;
	background: white;
	border-radius: 300px;
	transform: rotate(20deg);
	-ms-transform: rotate(20deg); /* IE 9 */
	-webkit-transform: rotate(20deg); /* Safari and Chrome */
	-webkit-transition: top 2s;
  	-moz-transition: top 2s;
  	-o-transition: top 2s;
  	transition: top 2s;
}

a.mini-nav-link:link {
	text-decoration: none;
	color: black;
}

a.mini-nav-link:visited {
	text-decoration: none;
	color: black;
}

a.mini-nav-link:hover {
	text-decoration: none;
	color: black;
}

a.mini-nav-link:active {
	text-decoration: none;
	color: black;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: white;
}
