<!DOCTYPE html>
<html>
<head>
  <title>Openideas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="header">
		<h1 class="logo">
			Open<span>Ideas</span>
		</h1>
	</div>

<%= yield %>

</body>
</html>
